<ul class="list-unstyled">
  <% favorites.each do |favorite| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(favorite.micropost.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to favorite.micropost.user.name, user_path(favorite.micropost.user) %> <span class="text-muted">posted at <%= favorite.micropost.created_at %></span>
        </div>
        <div>
          <p class="mb-0"><%= favorite.micropost.content %></p>
        </div>
        <div>
          <%= render 'favorites/favorite_button', micropost: favorite.micropost  %>
          <% if current_user == favorite.micropost.user %>
            <%= link_to "Delete", favorite.micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate favorites %>
</ul>